/* === Ajuste general de todos los módulos === */


#waybar > * {
    font-family: "Maple Mono NF";
    font-weight: bold;
    padding: 0px;
    margin: 2px 4px;
    border-radius: 8px;
    font-size: 13px;
    background: transparent;
}


window#waybar {
    background: rgba(20, 20, 20, 0.8);
    color: #ffffff;
    padding: 0;
    border: none;
}

#custom-updates, #custom-keyboard, #custom-power #custom-jp_mode, #tray, #battery, #pulseaudio, #network, #clock, #cpu, #memory, #backlight {
    font-family: "Maple Mono NF";
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 6px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 11px;
    margin: 2px 2px;
    margin-right: 0px;
    min-height: 18px;
}

#custom-power{
    padding: 6px;
}

#custom-updates {
    background: transparent;
}

#workspaces button {
    font-family: "Maple Mono NF";
    font-weight: bold;
    background: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    font-size: 11px;
    padding: 0 2px;
    margin: 2px 2px;
    min-width: 8px;
    min-height: 14px;
    transition: background 0.2s ease;
}
#workspaces button.active {
    background: rgba(255, 255, 255, 0.15);
}
#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#custom-keyboard, #custom-jp_mode
{
    padding-top: 2px;
    font-size: 14px;
    min-width: 18px;
    }
